@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/***************************************************/

:root {
    --woofleBlue: #0049FF;
}

::selection {
    background-color: var(--woofleBlue);
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: var(--woofleBlue); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0039c8;     
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    background-image: url('./images/bg.png');
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
    background-attachment: fixed;
    
    color: white;
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
}

/***************************************************/

header {
    display: grid;
    grid-template-columns: auto auto;
    padding: 25px;

    font-size: 125%;

    background-color: black;
}

header div a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

#navbar {
    text-align: left;
    display: flex;
}

#navbar div {
    margin-right: 3vw;
}

#navbar a:hover {
    text-decoration: underline;
}

#settings {
    text-align: right;
}

#settings a {
    transition: 0.5s;
}

#settings a:hover {
    transform: rotateZ(360deg);
}

/***************************************************/

page-content {
    padding: 25px;
    padding-bottom: 0;

    flex-grow: 1;

    width: 80vw;
    margin: auto;

    text-shadow: 1px 1px 3px black;
}

page-content a:link, page-content a:visited, page-content a:active {
    color: var(--woofleBlue);
}

page-content a:hover {
    color: #0039c8;
}

page-content div {
    margin: 10px 0;
}

/***************************************************/

ul {
    padding: 0;
    margin: 30px 0;

    list-style-type: none;

    font-size: 200%;
}

li {
    padding: 15px 0;
}

li a {
    display: inline-block;

    transition: 0.15s;

    filter: drop-shadow(3px 3px 3px black);
}

li a:link, li a:visited {
    padding: 9px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

li a:hover, li a:active {
    font-weight: bold;
    transform: scale(1.3);
    filter: drop-shadow(5px 5px 5px black);
    background-color: rgb(59, 176, 255);
}

ul li a {
    background-color: var(--woofleBlue);
}

li a.external {
    background-color: rgb(0, 30, 120);
}

li a.external:hover, li a.external:active {
    background-color: rgb(0, 15, 80);
    transform: none;
    font-weight: normal;
}

/***************************************************/

details>summary span.icon {
    transition: all 0.3s;
    margin-left: 30px;
}
  
details[open] summary span.icon {
   transform: rotate(-180deg);
}

span.icon {
    margin: auto;
}

summary {
    margin: auto;
    
    display: flex;
    justify-content: center;
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;

    max-width: fit-content;
}

summary h1 {
    margin: 0;
}
  
summary::-webkit-details-marker {
    display: none;
}

/***************************************************/

#algs-container {
    display: grid;
    grid-template-columns: auto auto auto;

    margin: auto;
    padding-top: 40px;

    max-width: fit-content;
}

.alg-box {
    border: 3px double rgba(255, 255, 255, 0.4);
    padding: 10px;
    margin: 5px 0;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.red {
    border-color: red;
}

.blue {
    border-color: var(--woofleBlue);
}

.orange {
    border-color: #ff9900;
}


.alg-box img {
    margin: auto;

    max-width: 200px;
    width: 35vw;
    height: 200px;
}

.alg-box.image {
    background-color: rgba(255, 255, 255, 0.1);
}

.tallimg img {
    min-width: 100px;
    width: 11vw;
    height: auto;
    padding: 0;
}

/***************************************************/

footer {
    background-color: black;
    font-size: smaller;
}

#cool-guy {
    display: inline-block;
    transition: .5s;
    margin: 20px;
}

#cool-guy:hover {
    transform: rotateX(360deg);
}

footer a:link, a:visited {
    color: white;
    text-decoration: none;
}

footer a:active, footer a:hover {
    text-decoration: underline;
}